@import url('https://fonts.cdnfonts.com/css/space-mono');

.tsd-page-toolbar {
	padding-top: 10px;
	padding-bottom: 10px;
}

.tsd-page-toolbar .title {
	font-family: 'Space Mono', sans-serif;
	text-transform: uppercase;
	font-weight: lighter !important;
	letter-spacing: 0.6rem;
	font-size: 2em;
	opacity: 0.8;
}

.tsd-page-toolbar .title:hover {
	text-decoration: none !important;
	opacity: 1;
}

.tsd-page-title h2 {
	display: none;
}

.tsd-toolbar-contents {
	margin: 0 !important;
	padding: 0 1.5rem;
	max-width: none;
}

.col-content {
	margin: 60px 0 0 0;
	padding: 1.5rem;
	overflow-y: auto;
}

.col-menu {
	top: 0 !important;
	border: none;
	margin: 60px 0 0 0;
	padding: 1.5rem;
	flex: none;
	background-color: var(--color-background-secondary);
	overflow-y: auto;
}

@media (max-width: 1024px) {
	html .col-content {
		padding-top: 1.5rem;
	}

	.col-menu {
		margin: 0;
	}
}

.tsd-page-toolbar--hide {
	transform: none;
}

.container-main {
	display: flex;
	flex-direction: row-reverse;
	padding: 0;
	margin: 0;
	max-height: 100vh;
	overflow: hidden;
	max-width: none;
}
